fastapi==0.110.0
web3==5.11.1
uvicorn==0.35.0
sqlalchemy==2.0.30
pydantic==2.7.1
aiosqlite==0.19.0
python-multipart==0.0.9         # For file/image uploads
jinja2==3.1.4                    # Optional: for templating (if needed)
python-dotenv==0.16.0            # Optional: for loading .env settings
pytz==2023.3.post1              # For timezone handling
faker
pytest

# 🔐 For authentication and token management
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4

# Test
pytest
httpx
pytest-cov
